* @juspay/connector-service-maintainers

*.md @juspay/connector-service-maintainers
*.sh @juspay/connector-service-maintainers
LICENSE @juspay/connector-service-maintainers
.gitignore @juspay/connector-service-maintainers
Makefile @juspay/connector-service-maintainers
.github/ @juspay/connector-service-maintainers
Dockerfile @juspay/connector-service-maintainers
docker-compose.yml @juspay/connector-service-maintainers
.dockerignore @juspay/connector-service-maintainers
docs/ @juspay/connector-service-maintainers

backend/connector-integration/ @juspay/connector-service-connectors

backend/grpc-server/src/server/ @juspay/connector-service-core

backend/domain_types/ @juspay/connector-service-framework
backend/external-services/ @juspay/connector-service-framework
backend/grpc-api-types/ @juspay/connector-service-framework
backend/grpc-server/ @juspay/connector-service-framework
backend/examples/ @juspay/connector-service-framework
config/ @juspay/connector-service-framework
